.app {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  color: $white;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  width: 100%;
  max-width: 280px;
  padding: 12px 0;
  border: none;
  border-radius: $buttonRadius;
  background-color: $primary;
  margin: 62px auto 0;

  @include hover;

  &_st {
    border: none;
    background-color: transparent;

    @include hover;
  }

  &_mt {
    margin-top: 160px;
  }
}

.input {
  border: none;

  &_tr {
    text-align: right;
  }

  &_password {
    -webkit-text-security: disc;
  }

  &__error {
    color: $red;
    font-size: 8px;
  }

  &:focus {
    outline: none;
  }
}

.error-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__status {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    margin: 20px 0;
  }

  &__desc {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 70px;
  }

  &__back {
    @include link;
  }
}

.list {
  @include ul;

  &__item {
    @include li;

    text-align: center;

    &_mt {
      margin-top: 20px;
    }
  }

}
