<div class="login">
  <h1 class="login__title">Вход</h1>
  <form class="login__form" novalidate>
    <div class="login__form-group">
      {{{login}}}
      {{{password}}}
    </div>
    {{{button}}}
    {{{link}}}
  </form>
</div>
