<div class="chats__column chats__column_left">
    {{{button}}}
    <input class="search-input" type="text" placeholder="Search chats...">
    <ul class="chats__list">
      {{#each chats}}
      {{{this}}}
      {{/each}}
    </ul>
  </div>
