
<div class="error-page">
  <h3 class="error-page__status">500</h3>
  <p class="error-page__desc">Уже фиксим</p>
  {{{Button ref='button' label='Назад к чатам' class="error-page__back button_st" type=this.type onClick=this.onClick}}}
</div>
