<div class="profile settings">
  {{{backButton}}}
  <div class="profile__header">
    <div class="profile__avatar"></div>
  </div>
  <form class="profile__info" onsubmit={{this.onSubmit}}>
    {{#each inputs}}
    {{{this}}}
    {{/each}}
    {{{button}}}
  </form>
</div>
