
@import '/styles/const.scss';
@import '/styles/mixins.scss';
@import '/styles/vendor/normalize.scss';
@import '/styles/components/components.scss';
@import '/pages/Login/login';
@import '/pages/Profile/profile';
@import '/pages/Chats/chats';

html, body {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
  box-sizing: border-box;
}

#app {
  display: flex;
}
